<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>TextUtility.com</title>
  </head>
  <body>
<!--  div for navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <a class="navbar-brand" href="/home">TextUtility.com</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact US</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="alert alert-info " role="alert">
      Here You Can Perform Some Operation On Your Text Data !!
    </div>
<!--NAVBAR COMPLETE-->
<!--    creating FORM-->
    <form class="container" action="/result" method="get">
      <div class="form-group">
        <label for="name">ENTER YOUR NAME </label>
        <input type="text" class="form-control" id="name" name="fullname">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">ENTER YOUR TEXT HERE</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="textarea"></textarea>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="capital" name="capital">
        <label class="form-check-label" for="capital">CAPITALIZE ALL</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="special_char" name="special_char">
        <label class="form-check-label" for="special_char">REMOVE SPECIAL CHARECTER</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="number" name="number">
        <label class="form-check-label" for="number">REMOVE NUMBERS</label>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
      <button type="reset" class="btn btn-info">Reset</button>
    </form>
<!--closing form-->

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
  </body>
</html>